:host{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header {
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    background: red;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 10vh;
    padding: 0 25vw;
}
